<div>
  <mat-card>
    <mat-card-title mat-dialog-title
      >Registro de Ponto Eletrônico</mat-card-title
    >
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="hasError('name', 'required')"
            >Nome é requerido</mat-error
          >
          <mat-error *ngIf="hasError('name', 'maxlength')"
            >Voce colocou mais de 100 caracteres</mat-error
          >
          <mat-error *ngIf="hasError('name', 'minlength')"
            >Nome precisa ter no mínimo 10 caracteres</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="hasError('email', 'required')"
            >Email é requerido</mat-error
          >
          <mat-error *ngIf="hasError('email', 'maxlength')"
            >Voce colocou mais de 100 caracteres</mat-error
          >
          <mat-error *ngIf="hasError('email', 'minlength')"
            >Email precisa ter no mínimo 10 caracteres</mat-error
          >
          <mat-error *ngIf="hasError('email', 'email')"
            >Email precisa esta no formato correto</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="phone" />
          <mat-error *ngIf="hasError('phone', 'required')"
            >Celular é requerido</mat-error
          >
          <mat-error *ngIf="hasError('phone', 'maxlength')"
            >Voce colocou mais de 14 caracteres</mat-error
          >
          <mat-error *ngIf="hasError('phone', 'minlength')"
            >Celular precisa ter no mínimo 14 caracteres</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" />
          <mat-error *ngIf="hasError('cpf', 'required')"
            >CPF é requerido</mat-error
          >
          <mat-error *ngIf="hasError('cpf', 'maxlength')"
            >Voce colocou mais de 14 caracteres</mat-error
          >
          <mat-error *ngIf="hasError('cpf', 'minlength')"
            >CPF precisa ter no mínimo 14 caracteres</mat-error
          >
        </mat-form-field>
      </div>
    </form>
    <button
      mat-raised-button
      (click)="register()"
      color="primary"
      [disabled]="!form.valid"
    >
      Enviar
    </button>
  </mat-card>
</div>
