<!DOCTYPE html>
<body>
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="title title-primary">Nice Company HR</h2>
        <p class="description description-primary">
          Sistema para controle dos registros de ponto eletrônico
        </p>
      </div>
      <div class="second-column">
        <h2 class="title title-second">Entrar no Sistema</h2>

        <mat-card class="my-card">
          <mat-card-content>
            <form class="my-form" [formGroup]="form">
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  type="email"
                />
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Senha</mat-label>
                <input
                  matInput
                  placeholder="Senha"
                  formControlName="password"
                  type="password"
                />
              </mat-form-field>
            </form>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button (click)="submit()" color="primary">
              Entrar
            </button>
            <button mat-raised-button color="accent">Cadastrar-se</button>
            <a class="password">Esqueceu a senha?</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</body>
