<div class="container">
  <mat-card>
    <h1>Lista de Registros</h1>

    <mat-form-field>
      <input
        #register
        matInput
        (keyup)="applyFilter(register.value)"
        placeholder="Pesquisar Registros"
      />
    </mat-form-field>
    <div class="">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.cpf }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
          <mat-cell
            [ngClass]="row.status ? 'validado' : 'naovalidado'"
            *matCellDef="let row"
            >{{ showStatus(row.status) }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a mat-mini-fab (click)="edit(row.id)" color="" primary
              ><i class="material-icons icon-blue">edit</i></a
            >
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </mat-card>
</div>
